<footer id="footer" class="footer" style="background-color: black;color:#fff;">
  <div class="container">
    <p class="text-muted"><center>&copy; Hotel Crossroads 2020 | <a href="/hotels" style="color: white;">Home</a> | <a href="/hotels/new" style="color: white;">New Hotel</a></center></p>
  </div>
</footer>
</body>
</html>