<!DOCTYPE html>
<html>
    <head>
        <title>Hotel Crossroads</title>
        <!-- Make site responsive on mobile/tablet -->
<meta name="viewport" content="width=device-width, initial-scale=1">
 <!-- For mapbox api --> 
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1" />
 <!--<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" /> -->
 <script src="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js"></script>
 <link href="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <script src="https://code.jquery.com/jquery-2.x-git.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="/stylesheets/push.min.js"></script>
        <script src="/stylesheets/serviceWorker.min.js"></script>
        
       
    </head>
    <body>

        <nav class="navbar navbar-inverse">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a href="/" class="navbar-brand">
                    <img id="front-img"src="https://img.icons8.com/emoji/48/000000/love-hotel.png"/>
                    <span style="position: relative; bottom: 15px;">Hotel Crossroads</span>
                  </a>
                  </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/hotels"><i class="fa fa-home fa-lg" aria-hidden="true"></i> Home</a></li>
      </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/contact"><i class="fa fa-envelope fa-lg" aria-hidden="true"></i> Contact</a></li>

            <% if(!currentUser){ %>
            <li><a href="/login"><i class="fa fa-sign-in fa-lg" aria-hidden="true"></i> Login<span class="sr-only">(current)</span></a></li>
          <li><a href="/register"><i class="fa fa-user-plus fa-lg" aria-hidden="true"></i> Sign Up</a></li>
          <%  } else  { %>

            <li><a href="#">Signed In As <%= currentUser.username %></a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></li>
        <%  } %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

         <div class="container">
             <% if(error && error.length>0)  { %> 
            <div class="alert alert-danger" role="alert">
                <%= error %>
             </div>
             <% } %>
             <% if(success && success.length>0)  { %> 
             <div class="alert alert-success" role="alert">
                <%= success %>
             </div> 
             <% } %>           
         </div>
